@model Kurs

<p>
    <b>@Model.Baslik isimli kursu silmek istiyor musunuz?</b>
</p>
<form asp-action="Delete" method="post">
    <input type="hidden"  value="@Model.KursId" name="id">
    <button type="submit" class="btn btn-danger">Evet</button>
    <a asp-action="Index" class="btn btn-primary">Vazgeç</a> 
</form>